.page {
  padding-top: 40px;
  @media (max-width: 1025px) {
    padding: 60px 0px 0px 0px;
  }
  @media (max-width: 500px) {
    padding: 60px 0px 0px 0px;
  }
}

._conteiner {
  position: relative;
  z-index: 1;

  padding: 0px 40px 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @media (max-width: 1025px) {
    display: inline-block;
  }
  @media (max-width: 500px) {
    padding: 0px 9px 0 14px;
  }
}
.home__title {
  padding: 176px 0px 0px 0px;
  position: relative;
  z-index: 1;

  @media (max-width: 1025px) {
    padding: 0px 0px 0px 0px;
  }
  @media (max-width: 500px) {
    padding: 0px 0px 0px 0px;
  }
}
.home__conteiner {
}
.home__text-bloc {
}
.info__text {
  p {
    @media (max-width: 500px) {
      padding-top: 39px;
      font-size: 16px;
      line-height: 20px;
      width: 338px;
    }
  }
}

.block__button {
  width: 120px;
  height: 120px;
  background: #ce0002;

  font-family: "Akrobat";

  font-weight: 800;
  font-size: 22px;
  line-height: 27px;

  color: #ffffff;
}
.info__block {
  display: flex;
  align-items: center;
  @media (max-width: 500px) {
    display: block;
  }
}
.info {
  max-width: 800px;
  display: flex;

  align-items: center;
  justify-content: space-around;
  padding: 70px 0px 0px 0px;
  @media (max-width: 1025px) {
    display: block;
    margin-bottom: 30px;
  }
  @media (max-width: 500px) {
    order: 2;
  }
  &__social {
    ul {
      li {
        margin: 18px 0px 0px 0px;
      }
    }
  }

  &__button {
    margin: 0px 66px 0px 0px;
    padding: 22px 0 0px 16px;
    width: 120px;
    height: 120px;
    background: #ce0002;

    font-family: "Akrobat";

    font-weight: 800;
    font-size: 22px;
    line-height: 27px;

    color: #ffffff;
  }
  &__text {
    width: 459px;

    font-family: "Akrobat";
    font-weight: 600;

    line-height: 30px;
    color: #000000;
  }
}

.home__img {
  img {
    max-width: 786px;

    @media (max-width: 500px) {
      width: 345px;
      height: 322px;
    }
    @media (max-width: 1025px) {
      position: relative;
    }
  }
  @media (max-width: 1025px) {
    transform: translate(101px);
  }
  @media (max-width: 500px) {
    left: -101px;
  }
}
