.page2 {
  width: 57%;
  height: 850px;
  @media (max-width: 1025px) {
    width: 91%;
    height: 135%;
  }
}
.page__conteiner {
  padding: 100px 40px 0px 30px;
  justify-content: space-between;
  @media (max-width: 1025px) {
    padding: 0px 40px 0px 30px;
  }
}

.bloc__text {
  padding-left: 66px;

  @media (max-width: 1025px) {
    padding: 0px 40px 0px 30px;
  }
  @media (max-width: 500px) {
    padding: 0px 0px 0px 0px;
  }
  p {
    padding: 0px 0px 20px 0px;
  }
}
.bloc__title {
  padding: 0px 0px 30px 0px;
}
.title {
}
.picture__content {
  padding: 0px 200px 0px 150px;
  display: grid;
  grid-template-columns: 220px 220px;
  gap: 9% 18%;
  @media (max-width: 1025px) {
    padding: 100px 0px 0px 66px;
  }
  @media (max-width: 500px) {
    padding: 50px 0px 0px 0px;
    grid-template-columns: 116px 116px;
  }
}
.img__bloc {
}
.content__block__text {
  h2 {
  }
  p {
  }
}
.icon__text :last-child {
  padding: 0px 0px 0px 0px;
}
.content__block__img {
  width: 137px;
  height: 137px;
  box-shadow: 30px -10px #f2e33a;
  text-align: center;

  background: #e8d935;
  padding: 33px;
  @media (max-width: 500px) {
    width: 100px;
    height: 100px;
  }
  img {
    max-width: 100%;
  }
}
.img__title {
  padding: 16px 0px 5px 0px;
  font-family: "Akrobat";
  font-size: 40px;
}
.img__text {
  font-family: "Akrobat";

  color: #646464;
}
.link__page {
  a {
    cursor: pointer;
    margin: 15px 0px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.link-text {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  text-transform: uppercase;

  color: #646464;
}
.scrol_link__comands::after {
  content: "";
  margin-left: 10px;
  width: 15px;
  height: 15px;

  background-color: rgb(228, 13, 13);
}

.scrol_link__about::after {
  content: "";
  margin-left: 10px;
  width: 15px;
  height: 15px;

  background-color: rgb(5, 5, 5);
}

.twoscrol_comands {
  opacity: 0;
}

.info__social,
.link__page {
  @media (max-width: 1025px) {
    display: none;
  }
}

.mobyle__slider {
  padding: 230px 0px 0px 0px;
  @media (min-width: 1025px) {
    padding: 230px 0px 0px 0px;
    display: none;
  }
}
.block_content {
  display: flex;
  @media (max-width: 1025px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: block;
  }
}
