.title {
  font-family: "Zona Pro";

  font-weight: 800;
  font-size: 72px;
  line-height: 85px;
  text-transform: uppercase;

  color: #000000;
  @media (max-width: 500px) {
    font-size: 32px;
    line-height: 38px;
  }
}
.text {
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}

.title-posts {
  font-size: 22px;
  @media (max-width: 700px) {
    text-align: center;
    font-size: 18px;
  }
}

._ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    object-fit: cover;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    margin: 0 17px;
    font-size: 30px;
    color: inherit;
    transition: background-color 0.3s ease 0s;
    @media (min-width: 700px) {
      &:hover {
        background-color: #ff6464;
      }
    }
  }
}

.icon-menu {
  margin: 35px;
  // Burger
  display: none;
  @media (max-width: 1025px) {
    display: block;
    position: relative;
    width: 34px;
    height: 29px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3 ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &._active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

.color-bloc-i {
  right: 0;
  width: 1640px;
  height: 942px;
  position: absolute;
  background: #ffea2f;

  @media (max-width: 1025px) {
    max-width: 90%;
    height: 268%;
  }
}

.detail__button {
  background: rgb(206 0 2);
  font-family: "Akrobat";
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: rgb(255 255 255);
}
